<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${type == 'add'} ? 'Add employee' : 'Modify employee'">Add/modify employee</title > 
<th:block th:replace="fragments/header.html :: scripts"></th:block >
</head>
<body>

<div class="container">
<h3 th:text="${type == 'add'}?'Add employee':'Modify employee'">Add/modify employee</h3 >
<div th:each="error : ${errors}" class="alert alert-danger" th:text="${error}"></div>
<form method="post" th:action="@{/addModEmployee}" th:object="${employee}">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><input placeholder="name" th:field="*{name}" class="form-control"><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></h5>
    <p class="card-subtitle"><input placeholder="rank" th:field="*{rank}" class="form-control"></p>
  </div>
  <ul class="list-group list-group-flush">
  	<li class="list-group-item"><label class="form-label">Id: </label><input th:field="*{id}" class="form-control" th:readonly="${type == 'modify'}"></li>
    <li class="list-group-item"><label class="form-label">Payment: </label><input th:field="*{payment}" class="form-control"></li>
    <li class="list-group-item"><label class="form-label">Entrance: </label><input type="text" th:field="*{entrance}" id="entrance" class="form-control"></li>
  </ul>
  <div class="card-body">
  	<input type="hidden" name="type" th:attr="value=${type}"> 
    <input type="submit" th:attr="value=${type == 'add'}?'Add':'Modify'" class="btn btn-primary">
  </div>
</div>
</form>
<a href="javascript:history.back()" class="btn btn-primary" style="margin-top: 0.5rem">Back</a>
</div>
<script>
	$(function(){
		$('#entrance').datetimepicker({
			dateFormat: "yy-mm-dd",
			timeFormat: 'HH:mm:ss',
			firstDay: 1
		});
	});
</script>
</body>
</html>